/* COMMON ----------------------------------------------------------------*/
body{
    /* 전역 Font 설정 */
    /* fontfamily : Google Fonts의 Nanum Gothic 사용 */
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 1.4;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
.inner{
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

/* Button */
.btn{
    display: block;
    box-sizing: border-box;
    width: 130px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    border: 2px solid #333333;
    border-radius: 4px;
    color: #333333;
    transition: 0.4s;
    cursor: pointer;
}
.btn:hover{
    background-color: #333333;
    color: #ffffff;
}
/* Button : Reverse */
.btn.btn--reverse{
    background-color: #333333;
    color: #ffffff;
}
.btn.btn--reverse:hover{
    background-color: transparent;
    color: #333333;
}
/* Button : Brown */
.btn.btn--brown{
    color: #592818;
    border-color: #592818;
}
.btn.btn--brown:hover{
    background-color: #592818;
    color: #ffffff;
}
/* Button : Gold */
.btn.btn--gold{
    color: #d9aa8a;
    border-color: #d9aa8a;
}
.btn.btn--gold:hover{
    background-color: #d9aa8a;
    color: #ffffff;
}
/* Button : White */
.btn.btn--white{
    color: #ffffff;
    border-color: #ffffff;
}
.btn.btn--white:hover{
    background-color: #ffffff;
    color: #333333;
}
/* Scroll Motion */
.back-to-position{
    opacity: 0;
    transition: 1s;
}
.back-to-position.to-right{
    transform: translateX(-150px);
}
.back-to-position.to-left{
    transform: translateX(150px);
}
.show .back-to-position{
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position.delay-0{
    transition-delay: 0s;
}
.show .back-to-position.delay-1{
    transition-delay: 0.3s;
}
.show .back-to-position.delay-2{
    transition-delay: 0.6s;
}
.show .back-to-position.delay-3{
    transition-delay: 0.9s;
}
/* COMMON END ------------------------------------------------------------*/



/* HEADER ----------------------------------------------------------------*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    z-index: 10;
}
header > .inner{
    height: 120px;
}
header .logo{
    position: absolute;
    height: 75px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* Sub Menu */
header .sub-menu{
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
}
/* Sub Menu : Menu */
header .sub-menu ul.menu{
    font-family: Arial, sans-serif;
    display: flex;
}
header .sub-menu ul.menu li{
    position: relative;
}
header .sub-menu ul.menu li::before{
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #e5e5e5;
}
header .sub-menu ul.menu li:first-child::before{
    display: none;
}
header .sub-menu ul.menu li a{
    display: block;
    font-size: 12px;
    padding: 11px 16px;
    color: #656565;
}
header .sub-menu ul.menu li a:hover{
    color: #000000;
}
/* Sub Menu : Search */
header .sub-menu .search{
    position: relative;
    height: 34px;
}
header .sub-menu .search input{
    width: 36px;
    height: 34px;
    font-size: 12px;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    color: #777777;
    background-color: #FFFFFF;
    transition: width 0.4s;
}
header .sub-menu .search input:focus{
    width: 190px;
    border-color: #669900;
}
header .sub-menu .search .material-symbols-outlined{
    position: absolute;
    height: 24px;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: 0.4s;
}
header .sub-menu .search.focused .material-symbols-outlined{
    opacity: 0;
}

/* Main Menu */
header .main-menu{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    z-index: 1;
}
/* Main Menu : Menu */
header .main-menu .item{
    
}
header .main-menu .item .item__name{
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 10px 20px 34px 20px;
}
header .main-menu .item:hover .item__name{
    background-color: #2c2a29;
    color: #669900;
    border-radius: 6px 6px 0 0;
}
/* Main Menu : Contents */
header .main-menu .item .item__contents{
    position: fixed;
    display: none;
    width: 100%;
    left: 0;
}
header .main-menu .item:hover .item__contents{
    display: block;
}
/* Main Menu : Contents : menu(top) */
header .main-menu .item .item__contents .contents__menu{
    background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul{
    display: flex;
    padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li{
    width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4{
    font-size: 14px;
    color: #ffffff;
    padding: 3px 0 12px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li{
    font-size: 12px;
    color: #999999;
    padding: 5px 0;
    cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
    color: #669900
}
/* Main Menu : Contents : texture(bottom) */
header .main-menu .item .item__contents .contents__texture{
    padding: 26px 0;
    font-size: 12px;
    background-image: url(/images/main_menu_pattern.jpg);
}
header .main-menu .item .item__contents .contents__texture h4{
    font-size: 12px;
    font-weight: 700;
    color: #999999;
}
header .main-menu .item .item__contents .contents__texture p{
    color: #669900;
    margin: 4px 0 14px 0;
}

/* Badges */
header .badges{
    position: absolute;
    top: 132px;
    right: 12px;
}
header .badges .badge{
    margin-bottom: 12px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
/* HEADER END ------------------------------------------------------------*/



/* FOOTER ----------------------------------------------------------------*/
footer{
    border-top: 1px solid #333333;
    background-color: #272727;
}
footer .inner{
    padding: 40px 0 60px 0;
}

/* FOOTER : Menu */
footer .menu{
    display: flex;
    justify-content: center;
}
footer .menu li{
    position: relative;
}
footer .menu li::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555555;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li:last-child::before{
    display: none;
}
footer .menu a{
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    color: #cccccc;
}
footer .menu a.green{
    color: #669900;
}

/* FOOTER : Button */
footer .btn-group{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
footer .btn-group .btn{
    font-size: 12px;
    margin-right: 10px;
}
footer .btn-group .btn:last-child{
    margin-right: 0;
}

/* FOOTER : Info */
footer .info{
    margin-top: 30px;
    text-align: center;
}
footer .info span{
    font-size: 12px;
    color: #999999;
    margin-right: 20px;
}
footer .info span:last-child{
    margin-right: 0;
}

/* FOOTER : Copyright */
footer .copyright{
    font-size: 17px;
    margin-top: 12px;
    color: #999999;
    text-align: center;
}

/* FOOTER : Logo */
footer .logo{
    margin: 30px auto 0;
}
/* FOOTER END ------------------------------------------------------------*/
